/* ETAS Colour scheme
ETASBlue     #1e539e RGB: 30,83,158
ETASGray     #92a6b9 RGB: 146,166,185
ETASDarkGray #6b8298 RGB: 107,130,152
ETASCyan     #009ef4 RGB: 0,158,244
ETASRed      #bd0551 RGB: 189,5,81
ETASYellow   #f9b100 RGB: 249,177,0
ETASGreen    #009966 RGB: 0,153,102
*/

/* Page layout divs */
div#header {
    background:  #1e539e;
}
div#content {
    /* Defined but unstyled */
}
div#footer {
    clear:both;       /* keep footer below content and menu */
    background-color: #1e539e; /* same bg color as in header */
}

/* Style Definitions */
body {
    margin:         0px 10px 10px 10px;
    padding:        0;
    background:     white;
    font-size:      10.0pt;
    font-family:    Verdana,Helvetica,sans-serif;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
    margin-bottom:  4.0pt;
    padding:        0cm;
    color:          #1e539e;
}
h1 {
    margin-top:     0cm;
    font-size:      large;
    margin-top:     20pt;
    margin-bottom:  20pt;
    text-align:     left;
}
h2 {
    font-size:      large;
    border-top: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
}
h3, h4, h5 {
}
h6 {
    font-size:      small;
}

p, li {
    margin-top:     0pt;
    margin-right:   0pt;
    margin-bottom:  4pt;
    margin-left:    0pt;
}

p.code, li.code, div.code   {
    font-family:monospace;
}

p.codeexample, li.codeexample, div.codeexample {
    font-family: monospace;
    margin-left:19pt;
    padding: 0.5em;
    overflow: auto;
    border: 1px dashed blue;
    background-color: #f9f9f9;
    color: #6b8298;
}

ol {margin-bottom:0cm;}
ul {margin-bottom:0cm;}

pre {
    font-family: monospace;
    font-size: 1.0em;
    padding: 0.5em;
    overflow: auto;
    border: 1px dashed blue;
    background-color: #f9f9f9;
}


/* Tables */
table {
    border:            1px solid gray;
    border-collapse:   collapse;
    font-size:         100%;
    background-color:  #ddd;
    margin-left: 0;
}
table#index {
    width: 80%;
    left: 10%;
    position: relative;
}
table#index tr {
    vertical-align: top;
}

thead, thead a[href], thead a[href]:link, thead a[href]:visited, thead a:link {
    background-color:  #1e539e;
    font-weight:       bold;
    color:             white;
    text-align: left;
}
td.tblkey {
    font-weight:       bold;
    color:             #1e539e;
    text-align: left;
}
td {
    border:         1px solid #6b8298;
    padding-left:   3pt;
    padding-right:  3pt;
    margin-left:    0pt;
}
/* Numerics, typically in a cell */
.N {
    text-align: right;
}

/* Links */
a[href], a[href]:link, a[href]:active {
    text-decoration: underline;
    background-color: inherit;
    color: #18507C;
}

/* remove underline on hover and change color */
a[href]:hover {
    text-decoration: none;
    background-color: #C3D4DF;
    color: #385C72;
}

div#header {
    position: relative;
}
div#footer p, div#footer a {
    color: white;
    margin-left: 8px;
}
div#header {
    margin-left:19pt;
    margin-right:19pt;
    background-color: white;
}
div#header h1 {
    font-size:large;
    text-align: center;
    margin-top:20pt;
    margin-bottom:20pt;
    text-align: center;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 3px;
    border-right-width: 3px;
    border-top-color: #9aa;
    border-left-color: #9aa;
    border-bottom-color: #355;
    border-right-color: #355;
    background:  #1e539e;
    color: white;
}